body {
  opacity: 0;
  transition: opacity 1.8s;
}
body {
  color: black;
  font-family: "Cormorant", serif;
  text-align: center;
  background-color: #a2b88f;
}
/* .top {
  background-image: url("img/jumbo.jpg");
  height: 600px;
  background-size: cover;
}
.name {
  color: white;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.topnav a:hover {
  border-bottom: 3px solid black;
} */
#introcard {
  margin-top: 110px;
  margin-bottom: 110px;
  height: 500px;
  border-radius: 70px;
  background-image: url(img/pic4.jpg);
  background-image: cover;
  opacity: 70%;
  border-width: 10px;
  border-color: white;
}

#cards {
  text-align: center;
  height: 450px;
  border-radius: 15px;
  width: 100%;
  transition: 0.3s all ease-in-out;
  background-color: rgb(240,240,240)
}
#cards:hover {
  transform: scale(1.065);
}
h3 {
  color: rgb(162, 184, 143);
  text-decoration: none;
}
h3:hover {
  color: rgb(102, 124, 83);
  text-decoration: underline;
}
.colors {
  background-color: darkgray;
}
table {
  text-align: center;
}
td {
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#footer1 {
  text-align: left;
}
#footer2 {
  text-align: right;
}
.socials {
  height: 35px;
  width: 35px;
}
#socials {
  background-color: rgb(145, 145, 165);
  border-radius: 100px;
  height: 60px;
  width: 60px;
}
button#socials:hover {
  cursor: not-allowed;
}
